*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.container-item{
    margin-bottom: 12px;
    min-width: 90%;
    min-height: 60px;
}
.title{ 
    background-color: rgb(198, 245, 253);
}
.menu{
    background-color: rgb(198, 245, 253);
}
.content{
    display: flex;
    background-color:#fff;
}
.content>div{
    min-height: 500px;
}

.navbar{
    flex: 1;
    background-color: rgb(255, 247, 129);
}
.main-content{
    margin: 0 10px;
    flex: 3;
    background-color: rgb(97, 246, 241);
}
.sidebar{
    flex: 1;
    background-color: rgb(114, 156, 255);
}
.footer{
    background-color: rgb(198, 245, 253);
    
}