* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  font-size: 1.25rem;
  font-weight: bold;
  height: 100vh;
  overflow: hidden;
}
header,
section,
footer,
.menu {
  width: 100vw;
  text-align: center;
  background-color: #dddddd;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

main {
  display: flex;
  gap: 1.5rem;
  width: 100%;
}
section {
  height: calc(100vh - 18rem);
}

section:first-child,
section:last-child {
  width: 20%;
}
